# 미션: 서울 아파트 가격 데이터 분석

각 코드 셀의 지시사항대로 2022년 서울 아파트 거래 데이터를 분석해보도록 하겠습니다.

In [130]:
import pandas as pd
import numpy as np

### 1. 데이터셋을 불러오고 데이터 일부를 확인합니다.

In [131]:
df = pd.read_csv("seoul_apart_2022.csv")
print(df)

                 시군구       번지      본번    부번             단지명  전용면적(㎡)    계약년월  \
0      서울특별시 강남구 개포동    658-1   658.0   1.0  개포6차우성아파트1동~8동    79.97  202204
1      서울특별시 강남구 개포동    658-1   658.0   1.0  개포6차우성아파트1동~8동    79.97  202204
2      서울특별시 강남구 개포동    658-1   658.0   1.0  개포6차우성아파트1동~8동    79.97  202205
3      서울특별시 강남구 개포동     1282  1282.0   0.0       개포래미안포레스트   102.32  202204
4      서울특별시 강남구 개포동     1282  1282.0   0.0       개포래미안포레스트   136.06  202205
...              ...      ...     ...   ...             ...      ...     ...
12679  서울특별시 중랑구 중화동      450   450.0   0.0  한신아파트(103~109)    59.76  202203
12680  서울특별시 중랑구 중화동      450   450.0   0.0  한신아파트(103~109)    59.76  202207
12681  서울특별시 중랑구 중화동      450   450.0   0.0  한신아파트(103~109)    84.03  202207
12682  서울특별시 중랑구 중화동   274-51   274.0  51.0         한영(101)    84.69  202204
12683  서울특별시 중랑구 중화동  11월 07일    11.0   7.0     현대휴앤미(102동)    76.43  202204

       계약일 거래금액(만원)   층    건축년도          도로명  해제사유발생일  거래유형          중개사소재지
0       12  220,000   4  1987.0        언주로 3      NaN  중개거래          서울 강남구
1       21  220,000   2  1987.0        언주로 3      NaN  중개거래          서울 강남구
2       27  216,000   2  1987.0        언주로 3      NaN  중개거래          서울 강남구
3        1  369,000  13  2020.0      개포로 264      NaN  중개거래  서울 강남구, 서울 양천구
4        2  420,000  17  2020.0      개포로 264      NaN  중개거래          서울 강남구
...    ...      ...  ..     ...          ...      ...   ...             ...
12679   27   73,000  20  1997.0      동일로 752      NaN  중개거래          서울 중랑구
12680   20   74,000   3  1997.0      동일로 752      NaN  중개거래          서울 중랑구
12681   27   91,500  12  1997.0      동일로 752      NaN  중개거래          서울 중랑구
12682    9   49,900   7  2003.0   동일로144길 74      NaN  중개거래          서울 중랑구
12683   23   53,000   6  2007.0  봉화산로27가길 19      NaN  중개거래          서울 중랑구

[12684 rows x 15 columns]

### 2. 전체 데이터의 갯수와 자료형 등을 확인합니다.

In [132]:
print(df.count())
df.info()

시군구         12684
번지          12681
본번          12682
부번          12682
단지명         12684
전용면적(㎡)     12684
계약년월        12684
계약일         12684
거래금액(만원)    12651
층           12684
건축년도        12682
도로명         12684
해제사유발생일       715
거래유형        12684
중개사소재지      12684
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12684 non-null  object
 1   번지        12681 non-null  object
 2   본번        12682 non-null  float64
 3   부번        12682 non-null  float64
 4   단지명       12684 non-null  object
 5   전용면적(㎡)   12684 non-null  float64
 6   계약년월      12684 non-null  int64
 7   계약일       12684 non-null  int64
 8   거래금액(만원)  12651 non-null  object
 9   층         12684 non-null  int64
 10  건축년도      12682 non-null  float64
 11  도로명       12684 non-null  object
 12  해제사유발생일   715 non-null    float64
 13  거래유형      12684 non-null  object
 14  중개사소재지    12684 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 1.5+ MB

### 3. 데이터프레임 `df`에서 사용하지 않을 특정 컬럼을 제거하세요.

- `drop`을 활용해서 데이터 분석 과정에서 활용하기 어려운 컬럼들을 삭제합니다.
- 삭제할 컬럼은 다음과 같습니다: **"해제사유발생일", "중개사소재지", "번지", "본번", "부번", "도로명", "거래유형"**
* 컬럼 삭제가 원본 데이터프레임 `df`에 적용이 되어야 합니다.

In [133]:
df = df.drop(["해제사유발생일","중개사소재지","번지","본번","부번","도로명","거래유형"], axis=1)
print(df)

                 시군구             단지명  전용면적(㎡)    계약년월  계약일 거래금액(만원)   층  \
0      서울특별시 강남구 개포동  개포6차우성아파트1동~8동    79.97  202204   12  220,000   4
1      서울특별시 강남구 개포동  개포6차우성아파트1동~8동    79.97  202204   21  220,000   2
2      서울특별시 강남구 개포동  개포6차우성아파트1동~8동    79.97  202205   27  216,000   2
3      서울특별시 강남구 개포동       개포래미안포레스트   102.32  202204    1  369,000  13
4      서울특별시 강남구 개포동       개포래미안포레스트   136.06  202205    2  420,000  17
...              ...             ...      ...     ...  ...      ...  ..
12679  서울특별시 중랑구 중화동  한신아파트(103~109)    59.76  202203   27   73,000  20
12680  서울특별시 중랑구 중화동  한신아파트(103~109)    59.76  202207   20   74,000   3
12681  서울특별시 중랑구 중화동  한신아파트(103~109)    84.03  202207   27   91,500  12
12682  서울특별시 중랑구 중화동         한영(101)    84.69  202204    9   49,900   7
12683  서울특별시 중랑구 중화동     현대휴앤미(102동)    76.43  202204   23   53,000   6

         건축년도
0      1987.0
1      1987.0
2      1987.0
3      2020.0
4      2020.0
...       ...
12679  1997.0
12680  1997.0
12681  1997.0
12682  2003.0
12683  2007.0

[12684 rows x 8 columns]

### 4. "전용면적(㎡)" 컬럼의 제곱미터가 특수문자라 사용하기 어려움으로 일단 "전용면적"으로 이름을 바꾸세요!
- 컬럼의 이름을 변경 후, 원본 데이터프레임에 반영하세요.

In [134]:
df = df.rename(columns={"전용면적(㎡)":"전용면적"})

print(df)

                 시군구             단지명    전용면적    계약년월  계약일 거래금액(만원)   층    건축년도
0      서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202204   12  220,000   4  1987.0
1      서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202204   21  220,000   2  1987.0
2      서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202205   27  216,000   2  1987.0
3      서울특별시 강남구 개포동       개포래미안포레스트  102.32  202204    1  369,000  13  2020.0
4      서울특별시 강남구 개포동       개포래미안포레스트  136.06  202205    2  420,000  17  2020.0
...              ...             ...     ...     ...  ...      ...  ..     ...
12679  서울특별시 중랑구 중화동  한신아파트(103~109)   59.76  202203   27   73,000  20  1997.0
12680  서울특별시 중랑구 중화동  한신아파트(103~109)   59.76  202207   20   74,000   3  1997.0
12681  서울특별시 중랑구 중화동  한신아파트(103~109)   84.03  202207   27   91,500  12  1997.0
12682  서울특별시 중랑구 중화동         한영(101)   84.69  202204    9   49,900   7  2003.0
12683  서울특별시 중랑구 중화동     현대휴앤미(102동)   76.43  202204   23   53,000   6  2007.0

[12684 rows x 8 columns]

### 5. "시군구"컬럼의 주소는 활용하기 쉽게 "구" 컬럼과 "동" 컬럼으로 분리합니다.
- "시군구" 컬럼과 apply() 함수를 활용하세요.
- 분리하는 로직은 문자열의 split() 함수를 활용하세요.

In [135]:
# 시군구 분리하기
# def test(strs):
#     a = strs.split()[1]
#     return a

df["구"] = df["시군구"].apply(lambda test: test.split()[1])  
print(df["구"])
df["동"] = df["시군구"].apply(lambda test: test.split()[2])  
print(df["동"])

df
# def transform(e):
#     return e.split()[1:]

# df[['구', '동']] = df['시군구'].apply(transform).tolist()
# # df['시군구'].apply(transform) 결과 타입? 
# df['시군구'].apply(transform)

0        강남구
1        강남구
2        강남구
3        강남구
4        강남구
        ...
12679    중랑구
12680    중랑구
12681    중랑구
12682    중랑구
12683    중랑구
Name: 구, Length: 12684, dtype: object
0        개포동
1        개포동
2        개포동
3        개포동
4        개포동
        ...
12679    중화동
12680    중화동
12681    중화동
12682    중화동
12683    중화동
Name: 동, Length: 12684, dtype: object

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,강남구,개포동
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,강남구,개포동
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,강남구,개포동
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,강남구,개포동
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,강남구,개포동
...,...,...,...,...,...,...,...,...,...,...
12679,서울특별시 중랑구 중화동,한신아파트(103~109),59.76,202203,27,"73,000",20,1997.0,중랑구,중화동
12680,서울특별시 중랑구 중화동,한신아파트(103~109),59.76,202207,20,"74,000",3,1997.0,중랑구,중화동
12681,서울특별시 중랑구 중화동,한신아파트(103~109),84.03,202207,27,"91,500",12,1997.0,중랑구,중화동
12682,서울특별시 중랑구 중화동,한영(101),84.69,202204,9,"49,900",7,2003.0,중랑구,중화동
12683,서울특별시 중랑구 중화동,현대휴앤미(102동),76.43,202204,23,"53,000",6,2007.0,중랑구,중화동

### 6. 면적에 따라 아파트의 유형을 분류하려고 합니다.
- category(e) 함수를 정의하고, 분류하는 코드를 작성하세요.
  - "전용면적"이 60 이하면 **소형**, 60보다 크고 85 이하면 **중형**, 85보다 크고 102 이하면 **중대형**, 102보다 크면 **대형**으로 분류됩니다.
- apply() 함수와 위에 정의한 category() 함수를 활용하여, 분류된 값을 "유형" 컬럼으로 새로 추가하세요.

In [136]:
# 면적에 따라 아파트 유형을 분류하는 함수
def category(e):
    if e <=60:
        return "소형"
    elif e <= 85:
        return "중형"
    elif e <= 102:
        return "중대형"
    else:
        return "대형"


df["유형"] = df["전용면적"].apply(category)
print(df["유형"])

0        중형
1        중형
2        중형
3        대형
4        대형
         ..
12679    소형
12680    소형
12681    중형
12682    중형
12683    중형
Name: 유형, Length: 12684, dtype: object

### 7. "계약년월" 컬럼과 "계약일" 컬럼을 "계약일" 컬럼에 합치고, 날짜타입으로 변경합니다.
- "계약년월" 컬럼과 "계약일" 컬럼을 "문자열" 타입으로 변경 후, "계약일" 컬럼에 합치세요.
- 합친 후, "계약일" 컬럼을 날짜 타입으로 변경하세요. 
- 날짜타입으로 변경할 때, format='%Y%m%d' 옵션을 추가하여 "계약일" 컬럼의 날짜 형식을 잘 인식하도록 합니다.

In [137]:
# df["계약년월"] = df["계약년월"].astype(str)
# df["계약일"] = df["계약일"].astype(str)

# df["계약일"] = df["계약년월"] + df["계약일"]

# df["계약일"] = pd.to_datetime(df["계약일"],format='%Y%m%d')

print(df["계약일"])

0        12
1        21
2        27
3         1
4         2
         ..
12679    27
12680    20
12681    27
12682     9
12683    23
Name: 계약일, Length: 12684, dtype: int64

### 8. "계약일" 컬럼의 데이터가 `datetime`으로 변경되었습니다. 이제 계약일 데이터를 활용해 "계약월"과 "계약요일" 컬럼을 생성해보겠습니다.
- dt 속성을 활용하여, "계약월", "계약요일" 컬럼을 생성하세요.
- "계약요일" 컬럼의 경우, 각각 '월', '화', '수', '목', '금', '토', '일' 형태로 변환하세요.

In [138]:
# df["계약월"] = df["계약일"].dt.month
# df["계약요일"] = df["계약일"].dt.dayofweek

# week = {0:"월",1:"화",2:"수",3:"목",4:"금",5:"토",6:"일"}

# df["계약요일"] = df["계약요일"].map(week)

# print(df["계약요일"])

부동산 거래 데이터에서 가장 중요한 데이터는 "거래금액(만원)"입니다. 이 거래금액을 활용하여 정렬을 하거나 다양한 통계값을 계산할 수 있습니다.

### 9. "거래금액(만원)" 컬럼을 활용하기 전에 데이터의 결측치를 확인해보도록 하겠습니다.

In [139]:
df["거래금액(만원)"].isna().sum()

np.int64(33)

"거래금액(만원)" 컬럼에 33개의 결측치가 있습니다. 거래금액은 데이터 분석에서 굉장히 중요한 정보이기 때문에 거래금액 정보가 없는 데이터는 사용할 수 없고, 다른 통계값으로 채워넣기에도 좋지 않습니다.

마침 데이터가 12000개가 넘어서 꽤 많기 때문에, 이번에는 "거래금액(만원)"컬럼에 결측치가 있는 데이터는 아예 삭제해버리도록 하겠습니다.

### 10. 데이터프레임 `df`에서 "거래금액(만원)"컬럼에 결측치가 존재하는 데이터를 삭제하세요.

- `dropna`를 활용해서 "거래금액(만원)" 컬럼에 결측치가 존재하는 아파트 거래 데이터를 삭제하세요.
- 데이터 삭제 후 `dropna`의 `ignore_index`를 올바르게 설정하여 인덱스를 초기화해주어야 합니다.

In [140]:
df.dropna(subset=["거래금액(만원)"],ignore_index=True,inplace=True)
print(df["거래금액(만원)"].isna().sum())
print(df["거래금액(만원)"])

0
0        220,000
1        220,000
2        216,000
3        369,000
4        420,000
          ...
12646     73,000
12647     74,000
12648     91,500
12649     49,900
12650     53,000
Name: 거래금액(만원), Length: 12651, dtype: object

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적      12651 non-null  float64
 3   계약년월      12651 non-null  int64
 4   계약일       12651 non-null  int64
 5   거래금액(만원)  12651 non-null  object
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
dtypes: float64(2), int64(3), object(6)
memory usage: 1.1+ MB

데이터가 33개 줄어들기는 했지만, 결측치가 있는 데이터가 삭제되었습니다. 

`info`를 통해 데이터의 정보를 다시 확인해보면 "거래금액(만원)"컬럼의 경우 데이터타입이 `object`인 것을 확인할 수 있습니다. 
### 11. 원활한 데이터 분석을 위해 콤마(,)를 삭제하고, 숫자형태 데이터로 바꾸어주도록 하겠습니다.
- str.replace()를 활용하여 "거래금액(만원)" 컬럼의 콤마(,)를 삭제하세요.
- 그리고 수치형 컬럼 형태로 타입을 변경하세요.

In [142]:
df["거래금액(만원)"] = df["거래금액(만원)"].str.replace(",","")
print(df["거래금액(만원)"])

df["거래금액(만원)"] = df["거래금액(만원)"].astype(int)
df.info()

0        220000
1        220000
2        216000
3        369000
4        420000
          ...
12646     73000
12647     74000
12648     91500
12649     49900
12650     53000
Name: 거래금액(만원), Length: 12651, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적      12651 non-null  float64
 3   계약년월      12651 non-null  int64
 4   계약일       12651 non-null  int64
 5   거래금액(만원)  12651 non-null  int64
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 1.1+ MB

"거래금액(만원)" 컬럼의 데이터 타입이 정수형으로 바뀐 것을 확인할 수 있습니다. 
### 12. 이제 거래금액을 기준으로 내림차순으로 정렬해보도록 하겠습니다.
- "거래금액(만원)" 컬럼을 내림차순으로 정렬 후, 상위 10개 데이터를 출력하세요.
- 원본 데이터프레임에 반영하지 않습니다.

In [143]:
df1 = df["거래금액(만원)"].sort_values(ascending=False)
df1.head(10)

762      1450000
11098    1350000
8308     1300000
11103    1100000
11085     945000
11086     900000
11087     900000
11106     890000
8295      880000
352       870000
Name: 거래금액(만원), dtype: int64

### 13. 이번엔 "거래금액(만원)" 컬럼의 평균값과 중앙값을 계산해보겠습니다.
- "거래금액(만원)" 컬럼의 평균과 중앙값을 구하고 출력하세요.

In [144]:

print(df["거래금액(만원)"].dtype)
print(df["거래금액(만원)"].mean(),df["거래금액(만원)"].median())

int64
97562.1373013991 75000.0

아파트의 거래금액 자체도 중요하지만 크기에 따른 가격 또한 매우 중요한 지표입니다.

"전용면적"컬럼의 단위는 제곱미터로, 이는 국제 표준 규격이지만 우리에게는 평 단위가 조금 더 익숙합니다. 
### 14. 1평은 대략 3.3㎡ 이므로, "전용면적"컬럼의 값을 3.3으로 나누어 덮어씌우고 컬럼의 이름을 "전용면적(평)"으로 변경합니다.

- `round(값, 자리수)` 반올림 함수를 활용하여, "전용면적" 컬럼을 3.3으로 나눈 후, 소수점 둘째자리까지 반올림하여 덮어쓰기를 하세요.
- "전용면적" 컬럼을 "전용면적(평)" 컬럼으로 이름을 변경하세요.

In [145]:
df["전용면적"] = df["전용면적"]/3.3
df["전용면적"]
df["전용면적"]   = round(df["전용면적"],2)
df["전용면적(평)"] = df["전용면적"]

이제 "전용면적(평)"과 "거래금액(만원)" 컬럼을 활용해 "평당금액" 컬럼을 생성해보도록 하겠습니다.

### 15. 데이터프레임 `df`에 "평당금액" 컬럼을 생성하세요.

- 시리즈 연산을 활용한 데이터 변환을 통해 `df`에 "평당금액" 컬럼을 생성하세요.
- 평당금액은 "거래금액(만원)"값을 "전용면적(평)"값으로 나눈 값입니다.
- 그리고 평당금액을 소수점 둘째자리까지 반올림하세요.

In [146]:
df.info()
df["평당금액"] = df["거래금액(만원)"]/df["전용면적(평)"]
round(df["평당금액"],2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적      12651 non-null  float64
 3   계약년월      12651 non-null  int64
 4   계약일       12651 non-null  int64
 5   거래금액(만원)  12651 non-null  int64
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
 11  전용면적(평)   12651 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.2+ MB

0         9079.65
1         9079.65
2         8914.57
3        11899.39
4        10186.76
           ...
12646     4030.92
12647     4086.14
12648     3593.87
12649     1944.66
12650     2288.43
Name: 평당금액, Length: 12651, dtype: float64

### 16. 이제 평당금액을 기준으로 다시 내림차순 정렬해보도록 하겠습니다.
- "평당금액" 컬럼을 기준으로 내림차순 정렬 후, 상위 10개 행을 출력하세요.
- 원본 데이터프레임에 반영하지 않습니다.

In [147]:
df1 = df.sort_values("평당금액",ascending=False)
print(df1.head(10))

                시군구        단지명   전용면적    계약년월  계약일  거래금액(만원)   층    건축년도    구  \
8144  서울특별시 서초구 잠원동  아크로리버뷰신반포  23.79  202206   24    438000  26  2018.0  서초구
7584  서울특별시 서초구 반포동    반포주공1단지  32.57  202206   29    590000   3  1973.0  서초구
7602  서울특별시 서초구 반포동    아크로리버파크  25.74  202201   21    466000   8  2016.0  서초구
762   서울특별시 강남구 청담동      PH129  83.02  202204   28   1450000  16  2020.0  강남구
7583  서울특별시 서초구 반포동    반포주공1단지  32.57  202206   20    565000   5  1973.0  서초구
7610  서울특별시 서초구 반포동    아크로리버파크  39.38  202205   23    680000  19  2016.0  서초구
7586  서울특별시 서초구 반포동    반포주공1단지  42.46  202209    6    730000   3  1973.0  서초구
7608  서울특별시 서초구 반포동    아크로리버파크  25.75  202204   13    440000  22  2016.0  서초구
8145  서울특별시 서초구 잠원동  아크로리버뷰신반포  23.79  202207   20    405000  11  2018.0  서초구
7577  서울특별시 서초구 반포동    반포주공1단지  32.20  202204   22    545000   1  1973.0  서초구

        동  유형  전용면적(평)          평당금액
8144  잠원동  중형    23.79  18411.097100
7584  반포동  대형    32.57  18114.829598
7602  반포동  중형    25.74  18104.118104
762   청담동  대형    83.02  17465.670923
7583  반포동  대형    32.57  17347.252072
7610  반포동  대형    39.38  17267.648553
7586  반포동  대형    42.46  17192.651908
7608  반포동  중형    25.75  17087.378641
8145  잠원동  중형    23.79  17023.959647
7577  반포동  대형    32.20  16925.465839

앞서 거래금액을 기준으로 정렬했던결과 많이 다른 결과를 얻을 수 있습니다. 이러한 결과를 부동산 도메인 지식과 함께 활용한다면 유용한 분석이 이루어질 수 있을 것입니다. 이렇게 새로운 지표로 이루어진 컬럼을 생성하는 것은 데이터 분석 과정에서 매우 중요합니다.

### 17. 이번엔 "구"컬럼을 기준으로 그룹을 묶어 서울의 각 구별 평당금액의 평균값을 확인해보도록 하겠습니다.
- groupby()를 활용하여, "구" 컬럼을 기준으로 그룹을 만든 뒤, "평당금액"의 평균을 출력하세요.

In [148]:
df.groupby("구")["평당금액"].mean()

구
강남구     7575.502325
강동구     4363.266452
강북구     3106.891954
강서구     3417.152287
관악구     3448.876488
광진구     4702.455078
구로구     2904.620322
금천구     3349.048728
노원구     3686.734882
도봉구     2941.221042
동대문구    3658.127769
동작구     4691.684242
마포구     5177.652784
서대문구    4024.463751
서초구     7692.333435
성동구     6076.341485
성북구     3728.180708
송파구     6487.478588
양천구     4328.677488
영등포구    4029.886062
용산구     6574.067880
은평구     3487.108048
종로구     3878.964496
중구      4011.280794
중랑구     3282.415746
Name: 평당금액, dtype: float64

### 20. 서초구의 동 중 **평당금액** 평균이 2번째로 높은 동의 이름을 입력하세요.
*`groupby`와 "구", "동" 컬럼을 활용하여 서초구의 각 동별 **평당금액 평균값**을 구할 수 있습니다.

- "구" 컬럼을 활용하여 "구" 중에서 "서초구"의 각 동별 평당금액의 평균값을 df_grouped 변수에 저장하세요.
- 위 변수를 활용하여 "평당금액"의 평균값이 2번째로 높은 동의 "이름"을 추출하여 출력하세요.
- 힌트: "평당금액"의 평균 결과를 Series가 아닌 DataFrame 형태로 만드세요.

In [203]:

df_grouped = df.groupby(["구","동"])["평당금액"].mean()
df = pd.DataFrame(df_grouped)

result = df.loc["서초구"].sort_values("평당금액",ascending=False)
result1 = result.reset_index()
print(result1.iloc[1])

동                잠원동
평당금액    10398.818417
Name: 1, dtype: object