# 파이썬 기초 - 복합 자료형 실습

**주제**
- 반복문(for, while)
- Tuple 자료형
- Unpacking
- Dictionary 자료형

---


## 1. 과일 가격 출력하기


**문제 설명:**

과일 이름이 담긴 리스트가 주어집니다. for문을 사용하여 각 과일을 순서대로 출력하되, "N번째: 과일이름" 형식으로 출력하세요. (N은 1부터 시작)

**입력 예시:**

```
입력 없음
```

**출력 예시:**
```
1번째: 사과
2번째: 바나나
3번째: 포도
4번째: 오렌지
```

In [5]:
fruits = ["사과", "바나나", "포도", "오렌지"]

for i in range(len(fruits)):
    print(i+1,"번째 : ",fruits[i])

1 번째 :  사과
2 번째 :  바나나
3 번째 :  포도
4 번째 :  오렌지


## 2. 구구단 출력하기


**문제 설명:**

사용자로부터 2~9 사이의 숫자를 입력받아, 해당 단의 구구단을 출력하세요. 
range 함수를 사용하여 1부터 9까지 반복하세요.

**입력 예시:**

```
5
```

**출력 예시:**
```
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
```

In [2]:
num1 = int(input("입력하삼"))
for num2 in range(1,10):
    result = num1*num2
    print(num1,"X",num2,"=",result)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


## 3. 카운트다운


**문제 설명:**

사용자로부터 숫자를 입력받아, 해당 숫자부터 0까지 카운트다운을 출력하세요. 0이 되면 "발사!"를 출력하고 종료합니다.

**입력 예시:**

```
5
```

**출력 예시:**
```
5
4
3
2
1
0
발사!
```

In [23]:
num = int(input("카운트다운"))

while num >= 0:
    print(num)
    num-=1
print("발사!")

5
4
3
2
1
0
발사!


## 4. 좌표 관리


**문제 설명:**

서울, 부산, 대구 세 도시의 좌표를 튜플로 저장하세요. 각 좌표는 (위도, 경도) 형태입니다. 사용자로부터 도시 이름을 입력받아 해당 도시의 좌표를 출력하세요.

**입력 예시:**

```
부산
```

**출력 예시:**
```
부산의 좌표: (35.1796, 129.0756)
위도: 35.1796
경도: 129.0756
```

In [30]:
seoul = (37.5665, 126.9780)
busan = (35.1796, 129.0756)
daegu = (35.8714, 128.6014)

city = input()

if city == "서울":
    print(city,"의 좌표 :",seoul)
    print("위도:",seoul[0])
    print("경도:",seoul[1])
elif city == "부산":
    print(city,"의 좌표 :",busan)
    print("위도:",busan[0])
    print("경도:",busan[1])
else:
    print(city,"의 좌표 :",daegu)
    print("위도:",daegu[0])
    print("경도:",daegu[1])

대구 의 좌표 : (35.8714, 128.6014)
위도: 35.8714
경도: 128.6014


## 5. 전화번호부 만들기


**문제 설명:**

3명의 이름과 전화번호를 입력받아 딕셔너리에 저장하세요. 그 후 사용자로부터 이름을 입력받아 해당 이름의 전화번호를 출력하세요. 이름이 없으면 "등록되지 않은 이름입니다."를 출력하세요.

**입력 예시:**

```
김철수
010-1234-5678
이영희
010-2345-6789
박민수
010-3456-7890

이영희
```

**출력 예시:**
```
이영희의 전화번호: 010-2345-6789
```

**입력 예시:**

```
김철수
010-1234-5678
이영희
010-2345-6789
박민수
010-3456-7890

홍길동
```

**출력 예시:**
```
등록되지 않은 이름입니다.
```

In [40]:
phone_book = {}

name = []
phone = []    

count = 3
for i in range(3):
    name1 = input("이름")
    phone2 = input("번호")
    name.append(name1)
    phone.append(phone2)

phone_book = dict(zip(name,phone))
print(phone_book)
serch = input()
print(phone_book[serch])
if serch in phone_book:
    print(serch,"의 전화번호 :",phone_book[serch])
else:
    print("없음")

{'정민교1': '111', '정민교2': '222', '정민교3': '333'}
222
정민교2 의 전화번호 : 222


## 6. 재고 관리 시스템 (딕셔너리 + 반복문)


**문제 설명:**

상품명을 key, 재고 수량을 value로 하는 딕셔너리가 주어집니다.

- 전체 재고를 출력하세요.
- 재고가 10개 미만인 상품을 찾아 "부족" 표시와 함께 출력하세요.
- 전체 재고의 총 합계를 출력하세요.

**입력 예시:**

```
입력 없음
```

**출력 예시:**
```
=== 전체 재고 현황 ===
노트북: 15개
마우스: 8개
키보드: 12개
모니터: 5개
헤드셋: 20개

=== 재고 부족 상품 ===
마우스: 8개 (부족)
모니터: 5개 (부족)

총 재고: 60개
```

In [ ]:
inventory = {
    "노트북": 15,
    "마우스": 8,
    "키보드": 12,
    "모니터": 5,
    "헤드셋": 20
}


## 7. 짝수/홀수 분류

**문제 설명:**

1부터 20까지의 숫자 중에서 짝수만 출력하되, 10 이상인 짝수는 "큰 짝수: N"으로, 10 미만인 짝수는 "작은 짝수: N"으로 출력하세요.

**입력 예시:**

```
입력 없음
```

**출력 예시:**
```
작은 짝수: 2
작은 짝수: 4
작은 짝수: 6
작은 짝수: 8
큰 짝수: 10
큰 짝수: 12
큰 짝수: 14
큰 짝수: 16
큰 짝수: 18
큰 짝수: 20
```


## 8. 업다운 게임

**문제 설명:**

정답 숫자를 미리 정해두고(예: 42), 사용자가 숫자를 입력할 때마다 "Up" 또는 "Down" 힌트를 주세요. 정답을 맞추면 "정답입니다! N번 만에 맞추셨습니다."를 출력하고 종료하세요.

Hint: while문 + break

**입력 예시:**

```
정답: 42

50
30
40
42
```

**출력 예시:**
```
Down!
Up!
Up!
정답입니다! 4번 만에 맞추셨습니다.
```

In [ ]:
# 원하는 정답 숫자를 하나 정하세요!
answer =


## 9. ATM 시뮬레이션

**문제 설명:**

초기 잔액 100,000원으로 시작하는 ATM 프로그램을 while문 무한 루프와 break를 활용하여 만드세요. 각 메뉴에 해당하는 번호를 입력 받고:

1. 현재 잔액 조회
2. 입금: 입금액을 추가로 입력받습니다. (잔액에 추가)
3. 출금: 출금액을 추가로 입력받습니다. (잔액에서 차감) (잔액 부족 시 에러 메시지)
4. 종료

"4"를 입력하면 프로그램을 종료합니다.

**입력 예시:**

```
1
2
50000
1
3
30000
1
4
```

**출력 예시:**
```
=== ATM ===
1. 잔액 조회
2. 입금
3. 출금
4. 종료
선택: 1
현재 잔액: 100000원

선택: 2
입금액: 50000
입금 완료! 현재 잔액: 150000원

선택: 1
현재 잔액: 150000원

선택: 3
출금액: 30000
출금 완료! 현재 잔액: 120000원

선택: 1
현재 잔액: 120000원

선택: 4
ATM을 종료합니다.
```